body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

header {
    width: 100%;
    height: 100px;

}

header nav {
    width: 50%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

header nav ul {
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

header nav ul li {
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

header nav ul li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    border: 1px solid blue;
    color: aliceblue;
    text-decoration: none;
    font-size: 50px;
    border-radius: 20px;

}

.a1:hover {
    color: rgb(255, 0, 0);
    background-color: greenyellow;
}

.a2:hover {
    color: rgb(255, 0, 0);
    background-color: greenyellow;
}

.a3:hover {
    color: rgb(255, 0, 0);
    background-color: greenyellow;
}

h1 {
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 50px;
}